* {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #222222;
}

h1, h2 {
  font-family: 'Fira Mono', monospace;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.25em;
  margin: 0.5em 0;
}

em, i {
  font-weight: 600;
  font-style: normal;
  color: #333333;
}

section {
  margin: 4px 0;
}

.visibly-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.inline-heading {
  display: inline;
  &:after {
    content: ': '
  }
}

.onlyprint {
  display: none;
}

@mixin custom-list-item {
  list-style-type: none;
  line-height: 1.25rem;
  margin: 4px 0;
  &:before {
    content: "▹ ";
  }
}

ul.card-list {
  margin: 0;
  padding: 0;
  &>li {
    list-style: none;
    ul {
      padding: 0;
      li {
        @include custom-list-item();
      }
    }
  }
}

.card-title-container {
  display: flex;
  align-items: center;
  .spacer {
    flex: 1 0 auto;
  }
  .card-title {
    i {
      font-size: 1.25rem;
    }
  }
  aside {
    text-align: right;
    font-weight: 600;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  margin: 8px auto 32px auto;
}

.header {
  align-self: center;
}

section.contact {
  ul.contact-info {
    display: flex;
    justify-content: space-around;
    max-width: 750px;
    margin: 0 auto;
    li {
      a {
        color: black;
        text-decoration: none;
        font-size: 1.1em;
        color: #333333;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

section.skills {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      @include custom-list-item();
      min-width: 25%;
    }
  }
}

section.experiences {
  article.experience {
    ul {
      padding: 0;
    }
  }
}

section.education {
  p {
    margin: 0;
  }
}

@media print {
  * {
    font-size: 12px;
  }

  h1 {
    font-size: 1.75em;
    margin: 0 0 0.25em 0;
    img {
      width: 325px;
    }
  }

  h2 {
    font-size: 1.3em;
    margin: 0.3em 0;
  }

  h3 {
    font-size: 1.1em;
    margin: 0.2em 0;
  }

  a {
    text-decoration: none;
  }

  section:last-child {
    margin-bottom: 0;
  }

  .noprint {
    display: none;
  }

  .onlyprint {
    display: block;
  }

  .container {
    width: 8.5in;
    max-width: 8.5in;
    height: 11in;
    max-height: 11in;
    margin-bottom: 0;
  }

  section.contact {
    margin: 0;
    ul.contact-info {
      max-width: 500px;
      li {
        a {
          font-size: 1em;
          text-decoration: none;
        }
      }
    }
  }
}
